.external-box {
  width: 250px;
  border: 1px solid #eee;
  padding: 10px;
}

.external-box .list-item {
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-indent: 10px;
  font-weight: 400;
  border-radius: 3px;
  padding: 5px;
  margin: 5px 0px;
}



#create-event {
  width: 250px;
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 30px;
}

#create-event .input-area {
  display: flex;
  justify-content: space-between;
}

#create-event .input-area input {
  width: calc(100% - 70px);
  border: 1px solid #eee;
  padding: 5px 10px;
}

#create-event .input-area input:focus {
  outline: none;
}

.color-selector {
  margin-top: 20px;
}